<div class="item">
  <img src="assets/images/{{data.images[0]}}" alt="">
  <div class="body">
    <h4>{{data.name}}</h4>
     <!-- <p>{{item.description}}</p> -->
  </div>
  <div class="px-3 mb-2 d-flex justify-content-between align-items-center">

    <button class="btn btn-success"*ngIf="!addButton" (click)="addButton=true">Add to cart</button>
    <button class="btn btn-danger" (click)="onview(data.id)"> view</button>
    <div class="d-flex gab-3 w-50" *ngIf="addButton">
      <input type="number" class="form-control" [(ngModel)]="amount">
      <button class="btn btn-danger" (click)="add();addButton=false">Add</button>
    </div>
    <span>{{data.price}}</span>
  </div>
</div>
