<div class="box">
  <div class="row" *ngIf="!loading">
  <div class="col-md-5 col-sm-12">
    <img src="assets/images/{{data.data.product.images?.[0]}}" alt="sss">

  </div>
  <div class="col-md-7 col-sm-12">
    <div class="info">
     <div class="list-unstyled">
       <li><strong>Name : </strong>{{data.data.product.name}}</li>
       <li><strong>Description : </strong>{{data.data.product.description}}</li>
       <li><strong>Category : </strong>{{data.data.product.category}}</li>
       <!-- <li><strong>Colors : </strong>{{data.data.product.Colors?.[0]}}</li> -->
       <li><strong>Quantity : </strong>{{data.data.product.quantity}}</li>
       <li><strong>Price : </strong>{{data.data.product.price}}</li>
       <li><strong>Rate : </strong>{{data.data.product.ratingsQuantity}}</li>
     </div>
    </div>
  </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
